@charset "UTF-8";
/**
 * Sass variables
 */
/* If we add the border using a regular CSS border, it won't look good on non-retina devices,
 * since its edges can look jagged due to lack of antialiasing. In this case, we are several
 * layers of box-shadow to add the border visually, which will render the border smoother. */
/* Calculates maximum width for post content */
/* Nested sub-menu padding: 10 levels deep */
/**
 * Fonts
 */
@font-face {
  font-family: star;
  src: url("../../../plugins/woocommerce/assets/fonts/star.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: WooCommerce;
  src: url("../../../plugins/woocommerce/assets/fonts/WooCommerce.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/**
 * Global elements
 */
a.button {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  word-break: break-all;
  color: #fff;
  text-decoration: none !important;
}

a.button:hover, a.button:visited {
  color: #fff;
}

.woocommerce .content-area .site-main {
  max-width: 100%;
}

.woocommerce .page-description {
  font-size: 1em;
}

.woocommerce form .form-row .required {
  color: firebrick;
  text-decoration: none;
  display: none;
}

.woocommerce form .form-row .required[title] {
  border: 0 !important;
}

.woocommerce form .form-row .optional {
  visibility: visible;
}

.woocommerce form .form-row.form-row-first {
  clear: right;
}

.woocommerce form .form-row.form-row-first:last-child {
  width: 100%;
}

.woocommerce-breadcrumb {
  display: none;
}

.woocommerce-pagination {
  font-size: 0.88889em;
}

.woocommerce-pagination ul.page-numbers {
  margin: 0;
  padding: 0;
  display: block;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

.woocommerce-pagination span.page-numbers,
.woocommerce-pagination a.page-numbers,
.woocommerce-pagination .next.page-numbers,
.woocommerce-pagination .prev.page-numbers {
  padding: 0 calc( 0.5 * 1rem);
  display: inline-block;
}

.onsale {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background: #36f;
  color: #fff;
  font-size: 0.71111em;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.2;
  padding: 0.5rem;
  text-transform: uppercase;
  z-index: 1;
}

.price del {
  opacity: 0.5;
  display: inline-block;
}

.price ins {
  display: inline-block;
}

.woocommerce-product-rating {
  font-size: 0.8em;
}

.woocommerce-notices-wrapper {
  margin-bottom: 1rem;
  width: 100%;
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  align-items: center;
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
  list-style: none;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  overflow: hidden;
}

.woocommerce-message .button,
.woocommerce-error .button,
.woocommerce-info .button {
  float: none;
  margin-right: auto;
  order: 2;
}

.woocommerce-message .showcoupon,
.woocommerce-error .showcoupon,
.woocommerce-info .showcoupon {
  margin-right: 0.5em;
}

.woocommerce-message {
  background: #eee;
}

.woocommerce-error {
  background: firebrick;
  color: #fff;
}

.woocommerce-error a {
  color: #fff;
}

.woocommerce-error a:hover {
  color: #fff;
}

.woocommerce-error a.button {
  background: #111;
}

.woocommerce-store-notice {
  background: #36f;
  color: #fff;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

.admin-bar .woocommerce-store-notice {
  top: 32px;
}

.woocommerce-store-notice__dismiss-link {
  float: left;
  color: #fff;
}

.woocommerce-store-notice__dismiss-link:hover {
  text-decoration: underline;
  color: #fff;
}

/**
* Tables
*/
.woocommerce table.shop_table td,
.woocommerce table.shop_table th,
.woocommerce table.shop_attributes td,
.woocommerce table.shop_attributes th,
.woocommerce-page table.shop_table td,
.woocommerce-page table.shop_table th,
.woocommerce-page table.shop_attributes td,
.woocommerce-page table.shop_attributes th {
  word-break: normal;
}

.woocommerce table.shop_table th,
.woocommerce table.shop_attributes th,
.woocommerce-page table.shop_table th,
.woocommerce-page table.shop_attributes th {
  text-align: right;
}

.woocommerce table.shop_table,
.woocommerce-page table.shop_table {
  font-weight: bold;
}

.woocommerce table.shop_table thead th,
.woocommerce table.shop_table .recurring-totals th,
.woocommerce-page table.shop_table thead th,
.woocommerce-page table.shop_table .recurring-totals th {
  font-weight: normal;
}

/**
 * Shop page
 */
.archive .woocommerce-products-header__title.page-title {
  color: #111;
}

.woocommerce-products-header__title.page-title {
  font-size: 1.6875em;
  font-weight: 700;
  text-transform: none;
}

.woocommerce .woocommerce-result-count,
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-result-count,
.woocommerce-page .woocommerce-ordering {
  float: none;
}

.woocommerce-results-wrapper {
  font-size: 0.8em;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .woocommerce-results-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .woocommerce-results-wrapper > * {
    min-width: 250px;
  }
}

.woocommerce-result-count {
  margin: 0;
}

/**
 * Products
 */
ul.products {
  margin: 0;
  padding: 0;
}

ul.products li.product {
  list-style: none;
  display: block;
}

ul.products li.product .woocommerce-loop-product__link {
  display: block;
}

ul.products li.product .woocommerce-loop-product__title {
  font-size: 1.2em;
  margin: 0 0 0.5em;
}

ul.products li.product .woocommerce-loop-product__title::before {
  content: none;
}

ul.products li.product .star-rating {
  margin-bottom: 0.8rem;
}

ul.products li.product .price {
  margin-bottom: 1.3rem;
}

ul.products li.product .price,
ul.products li.product .star-rating {
  display: block;
  font-size: 0.88889em;
}

ul.products li.product .woocommerce-placeholder {
  border: 1px solid #f2f2f2;
}

ul.products li.product .button {
  vertical-align: middle;
  word-break: normal;
}

ul.products li.product .button.loading {
  opacity: 0.5;
}

ul.products li.product .added_to_cart {
  margin-right: 0.5rem;
  font-size: 0.88889em;
}

/* Name your price */
.product .nyp label {
  display: block;
}

.product .nyp .nyp-input {
  margin-bottom: 0;
}

.star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 5.4em;
  font-family: star;
}

.star-rating::before {
  content: '\73\73\73\73\73';
  float: right;
  top: 0;
  right: 0;
  position: absolute;
}

.star-rating span {
  overflow: hidden;
  float: right;
  top: 0;
  right: 0;
  position: absolute;
  padding-top: 1.5em;
}

.star-rating span::before {
  content: '\53\53\53\53\53';
  top: 0;
  position: absolute;
  right: 0;
}

.product-remove a.remove {
  background: firebrick;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  font-size: 17px;
  font-weight: 700;
  height: 24px;
  line-height: 22px;
  text-decoration: none !important;
  width: 24px;
  text-align: center;
  text-transform: uppercase;
}

.product-remove a.remove:hover {
  background: #000;
  color: #fff !important;
}

dl.variation,
.wc-item-meta {
  list-style: none outside;
}

dl.variation dt,
dl.variation .wc-item-meta-label,
.wc-item-meta dt,
.wc-item-meta .wc-item-meta-label {
  float: right;
  clear: both;
  margin-left: 0.25rem;
  list-style: none outside;
}

dl.variation dd,
.wc-item-meta dd {
  margin: 0;
}

dl.variation p, dl.variation:last-child,
.wc-item-meta p,
.wc-item-meta:last-child {
  margin-bottom: 0;
}

/**
 * Single product
 */
.single-product div.product {
  position: relative;
}

.single-product .single-featured-image-header {
  display: none;
}

.single-product .entry {
  margin-top: 0;
}

.single-product .entry .entry-title {
  margin-top: 0;
  font-size: 2em;
}

.single-product .entry .entry-title::before {
  margin-top: 0;
}

.single-product .posted_in {
  font-size: 0.8em;
}

.single-product .woocommerce-product-rating {
  margin-bottom: 2rem;
  line-height: 1;
}

.single-product .woocommerce-product-rating .star-rating {
  float: right;
  margin-left: 0.25rem;
}

.single-product form.cart .quantity {
  float: right;
  margin-left: 0.5rem;
}

.single-product form.cart input {
  width: 5em;
}

.single-product .woocommerce-variation-add-to-cart .button {
  padding-top: 0.72rem;
  padding-bottom: 0.72rem;
}

.single-product .woocommerce-variation-add-to-cart .button.disabled {
  opacity: 0.2;
}

@media only screen and (min-width: 782px) {
  .woocommerce #content div.product div.images,
  .woocommerce div.product div.images,
  .woocommerce-page #content div.product div.images,
  .woocommerce-page div.product div.images {
    width: 33%;
  }
  .woocommerce #content div.product div.summary,
  .woocommerce div.product div.summary,
  .woocommerce-page #content div.product div.summary,
  .woocommerce-page div.product div.summary {
    width: 63%;
  }
}

/**
 * Grouped Products
 */
.woocommerce-grouped-product-list {
  white-space: nowrap;
}

.woocommerce-grouped-product-list .suggested-text,
.woocommerce-grouped-product-list .suggested-text + .subscription-details {
  font-size: 0.8em;
}

.woocommerce-grouped-product-list td .nyp {
  margin-bottom: 0;
}

@media only screen and (max-width: 599px) {
  .woocommerce-grouped-product-list,
  .woocommerce-grouped-product-list tbody,
  .woocommerce-grouped-product-list tr,
  .woocommerce-grouped-product-list th,
  .woocommerce-grouped-product-list td {
    display: block;
  }
  .woocommerce-grouped-product-list td,
  .woocommerce-grouped-product-list th {
    border: 0;
  }
  .woocommerce-grouped-product-list tr {
    border-bottom: 1px solid #ccc;
  }
}

table.variations td,
table.variations th {
  border: 0;
  padding-right: 0;
  vertical-align: top;
  word-break: normal;
}

table.variations label {
  margin: 0;
}

table.variations select {
  display: block;
  margin-left: 0.5rem;
}

.woocommerce-product-gallery {
  position: relative;
  margin-bottom: 3rem;
}

.woocommerce-product-gallery figure {
  margin: 0;
  padding: 0;
}

.woocommerce-product-gallery .woocommerce-product-gallery__wrapper {
  margin: 0;
  padding: 0;
}

.woocommerce-product-gallery .zoomImg {
  background-color: #fff;
  opacity: 0;
}

.woocommerce-product-gallery .woocommerce-product-gallery__image--placeholder {
  border: 1px solid #f2f2f2;
}

.woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(n + 2) {
  width: 25%;
  display: inline-block;
}

.woocommerce-product-gallery .flex-control-thumbs li {
  list-style: none;
  cursor: pointer;
  float: right;
}

.woocommerce-product-gallery .flex-control-thumbs img {
  opacity: 0.5;
}

.woocommerce-product-gallery .flex-control-thumbs img:hover, .woocommerce-product-gallery .flex-control-thumbs img.flex-active {
  opacity: 1;
}

.woocommerce-product-gallery img {
  display: block;
  height: auto;
}

.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
  width: 33.3333%;
}

.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n + 1) {
  clear: right;
}

.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
  width: 25%;
}

.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n + 1) {
  clear: right;
}

.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
  width: 20%;
}

.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n + 1) {
  clear: right;
}

.woocommerce-product-gallery__trigger {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 99;
}

.woocommerce-tabs {
  clear: both;
  margin: 2rem 0;
}

@media only screen and (min-width: 782px) {
  .woocommerce-tabs {
    margin-top: 0;
  }
}

.woocommerce-tabs ul {
  border-bottom: 1px solid #ccc;
  margin: 0 0 1.5rem;
  padding: 0;
}

.woocommerce-tabs ul li {
  font-size: 0.8em;
  margin-left: 1rem;
}

.woocommerce-tabs ul li a {
  display: inline-block;
  opacity: 0.7;
  padding-bottom: 0.5em;
  text-decoration: none;
}

.woocommerce-tabs ul li.active a {
  border-bottom: 4px solid #36f;
  opacity: 1;
}

.woocommerce-tabs .panel > * {
  margin-top: 0 !important;
}

.woocommerce-tabs .panel h1::before,
.woocommerce-tabs .panel h2::before {
  content: none;
}

.woocommerce-tabs .panel h2:first-of-type {
  font-size: 1em;
  margin: 0 0 1rem;
}

.woocommerce-tabs #comments {
  padding-top: 0;
}

.woocommerce-tabs .comment-reply-title {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 0.75rem;
  display: block;
}

.woocommerce-tabs #reviews ol.commentlist {
  padding: 0;
}

.woocommerce-tabs #reviews li.review,
.woocommerce-tabs #reviews li.comment {
  list-style: none;
  margin-left: 0;
  margin-bottom: 2.5rem;
}

.woocommerce-tabs #reviews li.review .avatar,
.woocommerce-tabs #reviews li.comment .avatar {
  max-height: 36px;
  width: auto;
  float: left;
}

.woocommerce-tabs #reviews li.review p.meta,
.woocommerce-tabs #reviews li.comment p.meta {
  margin-bottom: 0.5em;
}

.woocommerce-tabs #reviews p.stars {
  margin-top: 0;
}

.woocommerce-tabs #reviews p.stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
  box-shadow: none;
}

.woocommerce-tabs #reviews p.stars a::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-family: WooCommerce;
  content: '\e021';
  text-indent: 0;
}

.woocommerce-tabs #reviews p.stars a:hover ~ a::before {
  content: '\e021';
}

.woocommerce-tabs #reviews p.stars:hover a::before {
  content: '\e020';
}

.woocommerce-tabs #reviews p.stars.selected a.active::before {
  content: '\e020';
}

.woocommerce-tabs #reviews p.stars.selected a.active ~ a::before {
  content: '\e021';
}

.woocommerce-tabs #reviews p.stars.selected a:not(.active)::before {
  content: '\e020';
}

/**
 * Related products
 */
.woocommerce .related {
  clear: both;
}

.woocommerce .related h2 {
  font-size: 1.2em;
}

/**
 * Widgets
 */
.widget.woocommerce ul {
  padding-right: 0;
}

.widget.woocommerce ul li {
  list-style: none;
}

.widget .product_list_widget,
.site-footer .widget .product_list_widget {
  margin-bottom: 1.5rem;
}

.widget .product_list_widget a,
.site-footer .widget .product_list_widget a {
  display: block;
  box-shadow: none;
}

.widget .product_list_widget a:hover,
.site-footer .widget .product_list_widget a:hover {
  box-shadow: none;
}

.widget .product_list_widget li,
.site-footer .widget .product_list_widget li {
  padding: 0.5rem 0;
}

.widget .product_list_widget li a.remove,
.site-footer .widget .product_list_widget li a.remove {
  float: right;
  margin-top: 7px;
  line-height: 20px;
  color: #fff;
  margin-left: 0.5rem;
}

.widget .product_list_widget img,
.site-footer .widget .product_list_widget img {
  display: none;
}

.widget_shopping_cart .buttons a {
  display: inline-block;
  margin: 0 0 0 0.5rem;
}

.widget_layered_nav .chosen::before {
  content: '×';
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid black;
  margin-left: 0.25rem;
}

.widget_price_filter .price_slider {
  margin-bottom: 1rem;
}

.widget_price_filter .price_slider_amount {
  text-align: left;
  line-height: 2.4;
  font-size: 0.8751em;
}

.widget_price_filter .price_slider_amount .button {
  float: right;
  padding: 0.4rem 1rem;
}

.widget_price_filter .ui-slider {
  position: relative;
  text-align: right;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  background-color: #000;
  border-radius: 1em;
  cursor: ew-resize;
  outline: none;
  top: -0.3em;
  margin-right: -0.5em;
}

.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  border-radius: 1em;
  background-color: #000;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
  border-radius: 1em;
  background-color: #666;
  border: 0;
}

.widget_price_filter .ui-slider-horizontal {
  height: 0.5em;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  right: -1px;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  left: -1px;
}

.widget_rating_filter li {
  text-align: left;
}

.widget_rating_filter li .star-rating {
  float: right;
  margin-top: 0.3rem;
}

.widget_product_search form {
  position: relative;
}

.widget_product_search .search-field {
  padding-left: 100px;
}

.widget_product_search input[type='submit'] {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

/**
 * Account section
 */
.woocommerce-account .woocommerce-MyAccount-navigation {
  margin: 0 0 2rem;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
  margin: 0;
  padding: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation li {
  list-style: none;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}

.woocommerce-account .woocommerce-MyAccount-navigation li:first-child {
  padding-top: 0;
}

.woocommerce-account .woocommerce-MyAccount-navigation li a {
  box-shadow: none;
  text-decoration: none;
  font-weight: 600;
}

.woocommerce-account .woocommerce-MyAccount-navigation li a:hover {
  color: #005177;
  text-decoration: underline;
}

.woocommerce-account .woocommerce-MyAccount-navigation li.is-active a {
  text-decoration: underline;
}

.woocommerce-account table.account-orders-table .button {
  margin: 0 0 0.35rem 0.35rem;
}

/**
 * Cart
 */
@media only screen and (min-width: 1168px) {
  .page-template-single-wide.woocommerce-cart .woocommerce {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .page-template-single-wide.woocommerce-cart .woocommerce .woocommerce-notices-wrapper {
    width: 100%;
  }
  .page-template-single-wide.woocommerce-cart .woocommerce .woocommerce-cart-form {
    width: 62%;
  }
  .page-template-single-wide.woocommerce-cart .woocommerce .cart-collaterals {
    background: #eee;
    padding: 0 1rem 1rem;
    width: 35%;
  }
  .page-template-single-wide.woocommerce-cart .woocommerce .cart-collaterals .cart_totals {
    float: none;
    width: 100%;
  }
  .page-template-single-wide.woocommerce-cart .woocommerce .woocommerce-shipping-calculator {
    width: 200px;
  }
}

.woocommerce-cart-form .product-thumbnail {
  text-align: center;
  width: 42px;
}

.woocommerce-cart-form img {
  max-width: 42px;
  height: auto;
  display: block;
}

.woocommerce-cart-form dl.variation {
  margin-top: 0;
}

.woocommerce-cart-form dl.variation p, .woocommerce-cart-form dl.variation:last-child {
  margin-bottom: 0;
}

.woocommerce-cart-form .product-remove {
  text-align: center;
}

.woocommerce-cart-form .actions div {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 782px) {
  .woocommerce-cart-form .actions div {
    width: 50%;
  }
}

.woocommerce-cart-form .actions .input-text {
  margin-left: 4%;
  min-width: 48%;
}

.woocommerce-cart-form .quantity input {
  width: 4rem;
  padding: 0.35rem;
}

.cart_totals th,
.cart_totals td {
  vertical-align: top;
}

.cart_totals th {
  padding-left: 1rem;
}

.cart_totals .woocommerce-shipping-destination {
  margin-bottom: 0;
}

.cart_totals h2 {
  font-size: 1.2em;
}

.shipping-calculator-button {
  margin-top: 0.5rem;
  display: inline-block;
}

.shipping-calculator-form {
  margin: 1rem 0 0 0;
}

@media only screen and (min-width: 782px) {
  .woocommerce-cart .woocommerce-shipping-calculator {
    display: block;
    width: 200px;
  }
}

@media only screen and (min-width: 1168px) {
  .woocommerce-cart .woocommerce-shipping-calculator {
    width: 320px;
  }
}

.woocommerce table.shop_table_responsive tbody tr,
.woocommerce-page table.shop_table_responsive tbody tr {
  margin-bottom: 0.25em;
}

.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
  background: transparent;
}

.woocommerce-shipping-totals #shipping_method {
  list-style: none;
  margin: 0;
  padding: 0;
}

.woocommerce-shipping-totals #shipping_method li {
  margin-bottom: 0.5rem;
}

.woocommerce-shipping-totals #shipping_method li input {
  display: inline;
  margin-left: 0.5em;
}

.woocommerce-shipping-totals #shipping_method li label {
  line-height: 1.5rem;
}

.checkout-button {
  display: block;
}

.checkout-button::after {
  content: '→';
  margin-right: 0.5rem;
}

/**
 * Checkout
 */
#ship-to-different-address {
  font-size: 1em;
  display: inline-block;
  margin: 1.41rem 0;
}

#ship-to-different-address label {
  font-weight: 300;
  cursor: pointer;
}

#ship-to-different-address label span {
  font-weight: bold;
  display: inline-block;
  padding-left: 45px;
  position: relative;
}

#ship-to-different-address label span::before {
  content: '';
  display: block;
  height: 16px;
  width: 30px;
  border: 2px solid #bbb;
  background: #bbb;
  border-radius: 13rem;
  box-sizing: content-box;
  transition: all ease-in-out 0.3s;
  position: absolute;
  top: 2px;
  left: 0;
}

#ship-to-different-address label span::after {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: white;
  position: absolute;
  top: 5px;
  left: 17px;
  border-radius: 13rem;
  transition: all ease-in-out 0.3s;
}

#ship-to-different-address label input[type='checkbox'] {
  display: none;
}

#ship-to-different-address label input[type='checkbox']:checked + span::after {
  left: 3px;
}

#ship-to-different-address label input[type='checkbox']:checked + span::before {
  border-color: #3c3c3c;
  background: #3c3c3c;
}

/**
 * One-page checkout
 */
/* stylelint-disable selector-id-pattern  */
#order_review .opc_order_review .product-name {
  align-items: center;
  display: flex;
  height: 100%;
}

#order_review .opc_order_review .product-remove {
  float: none;
  margin-left: 0.25rem;
  order: -1;
}

#order_review .opc_order_review .product-quantity {
  margin: 0 auto 0 1rem;
}

@media only screen and (min-width: 782px) {
  #order_review .opc_order_review .product-quantity {
    margin-left: 3rem;
  }
}

/* stylelint-enable */
.woocommerce-no-js form.woocommerce-form-login,
.woocommerce-no-js form.woocommerce-form-coupon {
  display: block !important;
}

.woocommerce-no-js .woocommerce-form-login-toggle,
.woocommerce-no-js .woocommerce-form-coupon-toggle,
.woocommerce-no-js .showcoupon,
.woocommerce-no-js .woocommerce-tabs ul {
  display: none !important;
}

.woocommerce-terms-and-conditions {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
}

.woocommerce-terms-and-conditions-link {
  display: inline-block;
}

.woocommerce-terms-and-conditions-link::after {
  content: '';
  display: inline-block;
  border-style: solid;
  margin-bottom: 2px;
  margin-right: 0.25rem;
  border-width: 6px 6px 0 6px;
  border-color: currentColor transparent transparent transparent;
}

.woocommerce-terms-and-conditions-link.woocommerce-terms-and-conditions-link--open::after {
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent currentColor transparent;
}

.woocommerce-checkout h3 {
  font-size: 1.2em;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.woocommerce-checkout .woocommerce-billing-fields label,
.woocommerce-checkout .woocommerce-account-fields label,
.woocommerce-checkout .woocommerce-shipping-fields label,
.woocommerce-checkout .woocommerce-additional-fields label {
  font-size: 0.8em;
}

.woocommerce-checkout .woocommerce-billing-fields h3 {
  margin-bottom: 0;
}

.woocommerce-checkout .woocommerce-input-wrapper .description {
  background: royalblue;
  color: #fff;
  border-radius: 3px;
  padding: 1rem;
  margin: 0.5rem 0 0;
  clear: both;
  display: none;
  position: relative;
}

.woocommerce-checkout .woocommerce-input-wrapper .description a {
  color: #fff;
  text-decoration: underline;
  border: 0;
  box-shadow: none;
}

.woocommerce-checkout .woocommerce-input-wrapper .description::before {
  right: 50%;
  top: 0%;
  margin-top: -4px;
  transform: translateX(50%) rotate(-180deg);
  content: '';
  position: absolute;
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: royalblue transparent transparent transparent;
  z-index: 100;
  display: block;
}

.woocommerce-checkout .select2-choice,
.woocommerce-checkout .select2-choice:hover {
  box-shadow: none !important;
}

.woocommerce-checkout .select2-choice {
  padding: 0.7rem 0.7rem 0.7rem 0;
}

.woocommerce-checkout .select2-container .select2-selection--single {
  height: 48px;
}

.woocommerce-checkout .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 48px;
}

.woocommerce-checkout .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 46px;
}

.woocommerce-checkout .select2-container--focus .select2-selection {
  border-color: black;
}

.woocommerce-checkout-review-order-table,
table.woocommerce-table--order-details.shop_table,
.my_account_orders,
.woocommerce-product-attributes,
.woocommerce-grouped-product-list.group_table,
.woocommerce-cart-form .woocommerce-cart-form__contents,
.cart-collaterals .shop_table_responsive {
  border-top: 1px solid #ccc;
}

.woocommerce-checkout-review-order-table thead th,
.woocommerce-checkout-review-order-table thead td,
table.woocommerce-table--order-details.shop_table thead th,
table.woocommerce-table--order-details.shop_table thead td,
.my_account_orders thead th,
.my_account_orders thead td,
.woocommerce-product-attributes thead th,
.woocommerce-product-attributes thead td,
.woocommerce-grouped-product-list.group_table thead th,
.woocommerce-grouped-product-list.group_table thead td,
.woocommerce-cart-form .woocommerce-cart-form__contents thead th,
.woocommerce-cart-form .woocommerce-cart-form__contents thead td,
.cart-collaterals .shop_table_responsive thead th,
.cart-collaterals .shop_table_responsive thead td {
  background-color: #eee;
  font-weight: bold;
}

.woocommerce-checkout-review-order-table td,
table.woocommerce-table--order-details.shop_table td,
.my_account_orders td,
.woocommerce-product-attributes td,
.woocommerce-grouped-product-list.group_table td,
.woocommerce-cart-form .woocommerce-cart-form__contents td,
.cart-collaterals .shop_table_responsive td {
  font-weight: normal;
}

.woocommerce-checkout-review-order-table td,
.woocommerce-checkout-review-order-table th,
table.woocommerce-table--order-details.shop_table td,
table.woocommerce-table--order-details.shop_table th,
.my_account_orders td,
.my_account_orders th,
.woocommerce-product-attributes td,
.woocommerce-product-attributes th,
.woocommerce-grouped-product-list.group_table td,
.woocommerce-grouped-product-list.group_table th,
.woocommerce-cart-form .woocommerce-cart-form__contents td,
.woocommerce-cart-form .woocommerce-cart-form__contents th,
.cart-collaterals .shop_table_responsive td,
.cart-collaterals .shop_table_responsive th {
  border-color: #ccc;
  border-width: 0 0 1px;
  padding: 0.5rem;
}

.woocommerce-checkout-review-order-table tfoot th,
table.woocommerce-table--order-details.shop_table tfoot th,
.my_account_orders tfoot th,
.woocommerce-product-attributes tfoot th,
.woocommerce-grouped-product-list.group_table tfoot th,
.woocommerce-cart-form .woocommerce-cart-form__contents tfoot th,
.cart-collaterals .shop_table_responsive tfoot th {
  font-weight: normal;
}

.woocommerce-checkout-review-order-table dl.variation,
table.woocommerce-table--order-details.shop_table dl.variation,
.my_account_orders dl.variation {
  margin: 0;
}

.woocommerce-checkout-review-order-table dl.variation p,
table.woocommerce-table--order-details.shop_table dl.variation p,
.my_account_orders dl.variation p {
  margin: 0;
}

.woocommerce-checkout-review-order-table .recurring-totals th,
.woocommerce-checkout-review-order-table .recurring-totals td,
table.woocommerce-table--order-details.shop_table .recurring-totals th,
table.woocommerce-table--order-details.shop_table .recurring-totals td,
.my_account_orders .recurring-totals th,
.my_account_orders .recurring-totals td {
  background-color: #eee;
  font-weight: bold;
}

.woocommerce-checkout-review-order-table .cart-subtotal th,
.woocommerce-checkout-review-order-table .cart-subtotal td,
.woocommerce-checkout-review-order-table .woocommerce-shipping-totals.shipping th,
.woocommerce-checkout-review-order-table .woocommerce-shipping-totals.shipping td,
.woocommerce-checkout-review-order-table .shipping.recurring-total th,
.woocommerce-checkout-review-order-table .shipping.recurring-total td,
table.woocommerce-table--order-details.shop_table .cart-subtotal th,
table.woocommerce-table--order-details.shop_table .cart-subtotal td,
table.woocommerce-table--order-details.shop_table .woocommerce-shipping-totals.shipping th,
table.woocommerce-table--order-details.shop_table .woocommerce-shipping-totals.shipping td,
table.woocommerce-table--order-details.shop_table .shipping.recurring-total th,
table.woocommerce-table--order-details.shop_table .shipping.recurring-total td,
.my_account_orders .cart-subtotal th,
.my_account_orders .cart-subtotal td,
.my_account_orders .woocommerce-shipping-totals.shipping th,
.my_account_orders .woocommerce-shipping-totals.shipping td,
.my_account_orders .shipping.recurring-total th,
.my_account_orders .shipping.recurring-total td {
  font-size: calc( $font__size-sm * 1rem);
  font-weight: normal;
  vertical-align: middle;
}

.woocommerce-checkout-review-order-table .cart-subtotal.recurring-total,
table.woocommerce-table--order-details.shop_table .cart-subtotal.recurring-total,
.my_account_orders .cart-subtotal.recurring-total {
  font-weight: bold;
}

.woocommerce-checkout-review-order ul {
  margin: 2rem 0 1rem;
  padding-right: 0;
}

.wc_payment_methods {
  padding-right: 0;
}

.wc_payment_method {
  list-style: none;
}

.wc_payment_method .payment_box {
  padding: 1rem;
  background: #eee;
  font-size: 0.8em;
}

.wc_payment_method .payment_box ul:last-of-type,
.wc_payment_method .payment_box ol:last-of-type {
  margin-bottom: 0;
}

.wc_payment_method .payment_box fieldset {
  padding: 0;
  border: 0;
}

.wc_payment_method .payment_box li {
  list-style: none;
}

.wc_payment_method .payment_box p:first-child {
  margin-top: 0;
}

.wc_payment_method .payment_box p:last-child {
  margin-bottom: 0;
}

.wc_payment_method > label:first-of-type {
  display: block;
  margin: 1rem 0;
}

.wc_payment_method > label:first-of-type img {
  max-height: 24px;
  max-width: 200px;
  float: left;
}

.wc_payment_method label {
  cursor: pointer;
}

.wc_payment_method input.input-radio[name='payment_method'] {
  display: none;
}

.wc_payment_method input.input-radio[name='payment_method'] + label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  box-shadow: 0 0 0 2px black;
  background: white;
  margin-right: 4px;
  margin-left: 0.5rem;
  border-radius: 100%;
  transform: translateY(2px);
}

.wc_payment_method input.input-radio[name='payment_method']:checked + label::before {
  background: black;
}

.woocommerce-order-overview {
  margin-bottom: 2rem;
}

.woocommerce-table--order-details {
  margin-bottom: 2rem;
}

.woocommerce-terms-and-conditions-wrapper {
  font-size: 0.8em;
  margin-bottom: 2rem;
}

.woocommerce-terms-and-conditions-wrapper input[type='checkbox'] {
  margin-left: 0.5rem;
}

/**
 * Layout stuff
 */
@media only screen and (max-width: 768px) {
  .woocommerce table.shop_table_responsive tr,
  .woocommerce-page table.shop_table_responsive tr {
    margin: 0 0 1.5rem;
  }
  .woocommerce table.shop_table_responsive tr:first-child,
  .woocommerce-page table.shop_table_responsive tr:first-child {
    border-top: 1px solid;
  }
  .woocommerce table.shop_table_responsive tr:last-child,
  .woocommerce-page table.shop_table_responsive tr:last-child {
    margin-bottom: 0;
  }
  .woocommerce table.shop_table_responsive tr td,
  .woocommerce-page table.shop_table_responsive tr td {
    border-bottom-width: 0;
  }
  .woocommerce table.shop_table_responsive tr td:last-child,
  .woocommerce-page table.shop_table_responsive tr td:last-child {
    border-bottom-width: 1px;
  }
  .woocommerce-product-gallery__trigger {
    left: 1rem;
  }
  .wc_payment_method > label:first-of-type img {
    float: none;
    margin-right: 0.5rem;
  }
}

@media only screen and (min-width: 768px) {
  /**
	* Shop page
	*/
  .woocommerce-products-header__title.page-title {
    font-size: 2.25em;
  }
  .woocommerce-pagination span.page-numbers,
  .woocommerce-pagination a.page-numbers,
  .woocommerce-pagination .next.page-numbers,
  .woocommerce-pagination .prev.page-numbers {
    padding: 1rem;
  }
  /**
	* Account section
	*/
  .woocommerce-account .woocommerce-MyAccount-navigation {
    float: none;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .woocommerce-account .woocommerce-MyAccount-navigation li {
    display: inline-block;
    margin: 0 0 0 1rem;
    padding: 0;
    border-bottom: 0;
  }
  .woocommerce-account .woocommerce-MyAccount-navigation li:last-child {
    margin-left: 0;
  }
  .woocommerce-account .woocommerce-MyAccount-content {
    float: none;
    width: 100%;
  }
  /**
	* Checkout
	*/
  #ship-to-different-address {
    display: block;
  }
  /**
	* Layout stuff
	*/
  .single-product .entry .entry-content,
  .single-product .entry .entry-summary {
    max-width: none;
    margin: 0 0 3rem;
    padding: 0;
  }
  .single-product .entry .entry-content > *,
  .single-product .entry .entry-summary > * {
    max-width: none;
  }
}

.cart-summary-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cart-summary-header h3 {
  margin-top: 1rem;
}

#toggle-order-details {
  align-items: center;
  background: transparent;
  color: #111;
  display: flex;
  padding: 0;
}

#toggle-order-details:hover {
  background: transparent;
  color: #515151;
}

#toggle-order-details svg {
  transform: rotate(-90deg);
}

#toggle-order-details.order-details-hidden svg {
  transform: rotate(90deg);
}

#order-details-wrapper h3 {
  margin-top: 3rem;
}

.order-details-hidden {
  display: none;
}

.order-details-summary h4 {
  font-size: 0.95em;
  font-weight: normal;
}

.order-details-summary h4 > span {
  color: #515151;
  display: block;
}

.woocommerce-customer-details {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

.woocommerce-customer-details address {
  font-size: 90%;
  font-style: normal;
}
